.Loginpage {
    *{
        // border:1px solid red
    }
    .login-input-section {
        position:relative;

        .form-lable-text{
           position: absolute;
           z-index: 9;
    margin: 0px;
    transform: translate(50%, 22%);
        }
    .form-control:focus+.form-lable-text {
            transform: translate(50%, -60%);
        }
    }
   
}
.parentcontainer{
    display:flex; //d-flex
    flex-direction: row; //default direction is row //flex-row
    gap:20px; //gap-2
    background-color: yellow;
    flex-wrap: wrap; //flex-nowrap ,flex-wrap
    flex-flow: column wrap; //no boot stap class
}

.parentcontainer>p{
    width:200px;
    height:200px;
    background-color: red;
}

.bootstapcontainer{
     background-color: blue;
     &>p{
        width:200px;
    height:200px;
  background-color: white;
     }
}
